# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sigizi?schema=public"

# Backend
JWT_SECRET="your-jwt-secret-change-in-production"
JWT_EXPIRES_IN="7d"
PORT=3001

# SSO BGN (Mock untuk MVP)
SSO_BGN_CLIENT_ID="mock-client-id"
SSO_BGN_CLIENT_SECRET="mock-client-secret"
SSO_BGN_REDIRECT_URI="http://localhost:3001/api/auth/callback"
SSO_BGN_AUTHORIZE_URL="https://mitra.bgn.go.id/sso/authorize"

# Portal (Frontend)
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_PORTAL_URL="http://localhost:3000"

# Logger
LOG_LEVEL=debug
NODE_ENV=development

# Health Check
HEALTH_CHECK_MEMORY_HEAP=300
HEALTH_CHECK_MEMORY_RSS=500
