# API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Portal URL
NEXT_PUBLIC_PORTAL_URL=http://localhost:3000

# Demo Mode (set to "true" to enable demo features like flying account card)
NEXT_PUBLIC_DEMO_MODE=true
